{% extends 'tienda/base.html' %}

{% block content %}

<section class="beat-player">
    
    <div class="table-container">
        <table class="playlist">
            <thead>
                <tr>
                    <th class="th-name">Name</th>
                    <th class="th-bpm">BPM</th>
                    <th class="th-image">Image</th>
                    <th class="th-carrito small-cell">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for beat in beats %}
                <tr>
                    <td class="beat-name" data-label="Name">{{ beat.title }}</td>
                    <td class="beat-bpm" data-label="BPM">{{ beat.bpm }}</td>
                    <td class="beat-image" data-label="Image">{{ beat.image }}</td>
                    <td class="beat-carrito" data-label="Price">
                        <figure>
                            <i class="bi bi-cart"></i>
                        </figure>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</section>
<div class="container">
    <div class="licencias">
        <h3 class="categoria-lic">Básica</h3>
        <div class="price">
            $19,99
        </div>
        <ul>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                WAV
            </li>
            <li class="caracteristicas">
                <span id="equis" class="material-symbols-outlined">Close</span>
                STEMS
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Audio
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Video
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                2000 distribuciones de copias
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                1 video musical
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Sin tag de productor 
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
        </ul>
        <div class="boton">
            <button>Ver Licencia</button>
        </div>
    </div>
    <div class="licencias">
        <h3 class="categoria-lic">Estándar</h3>
        <div class="price">
            $49,99
        </div>
        <ul>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                WAV
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                STEMS
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Audio
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Video
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                2000 distribuciones de copias
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                1 video musical
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Sin tag de productor 
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
        </ul>
        <div class="boton">
            <button>Ver Licencia</button>
        </div>
    </div>
    <div class="licencias">
        <h3 class="categoria-lic">Premium</h3>
        <div class="price">
            $19,99
        </div>
        <ul>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                WAV
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                STEMS
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Audio
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Video
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                2000 distribuciones de copias
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                1 video musical
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Sin tag de productor 
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
        </ul>
        <div class="boton">
            <button>Ver Licencia</button>
        </div>
    </div>
    <div class="licencias">
        <h3 class="categoria-lic">Unlimited</h3>
        <div class="price">
            $19,99
        </div>
        <ul>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                WAV
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                STEMS
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Audio
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                100.000 Reproducciones de Video
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                2000 distribuciones de copias
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                1 video musical
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Sin tag de productor 
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
            <li class="caracteristicas">
                <span class="material-symbols-outlined">done</span>
                Mp3
            </li>
        </ul>
        <div class="boton">
            <button>Ver Licencia</button>
        </div>
    </div>
</div>  
{% endblock %}
