{% extends 'tienda/base.html' %}

{% block content %}

<div class="container-licencias">
    <div class="container-licencia">
        <div class="tipo-licencia">Básica</div>
        <div class="precio-licencia">$19,99</div>
        <ul class="caracteristicas-licencia">
            <li>Archivo Wav</li>
            <li>Stems</li>
            <li>Sin tag de productor</li>
            <li>Monetiza hasta 100.000 reproducciones(Spotify,Youtube,etc.)</li>
            <li>1 video musical</li>
        </ul>
        <div class="ver-licencia">
            <button class="boton-ver-licencia">ver licencia</button>
        </div>
    </div>


    <div class="container-licencia">
        <div class="tipo-licencia">Premium</div>
        <div class="precio-licencia">$49,99</div>
        <ul class="caracteristicas-licencia">
            <li>Archivo Wav</li>
            <li>Stems</li>
            <li>Sin tag de productor</li>
            <li>Monetiza hasta 100.000 reproducciones(Spotify,Youtube,etc.)</li>
            <li>1 video musical</li>
        </ul>
        <div class="ver-licencia">
            <button class="boton-ver-licencia">ver licencia</button>
        </div>
    </div>


    <div class="container-licencia">
        <div class="tipo-licencia">Ilimitada</div>
        <div class="precio-licencia">$99,99</div>
        <ul class="caracteristicas-licencia">
            <li>Archivo Wav</li>
            <li>Stems</li>
            <li>Sin tag de productor</li>
            <li>Monetiza hasta 100.000 reproducciones(Spotify,Youtube,etc.)</li>
            <li>1 video musical</li>
        </ul>
        <div class="ver-licencia">
            <button class="boton-ver-licencia">ver licencia</button>
        </div>
    </div>
</div>

{% endblock %}